/* .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  } */
  .edit{
    font-size:.9rem;
    background-color: rgb(25, 6, 110);
    color: #ffffff;
  }
  .plist{
    border-bottom: 1px solid #000000;
  }
  .list-group{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .det{
    border: 1px solid #e0d1cc;
    border-radius: 0.5rem;
    height: 150px;
    background-color: #fff;
  }

  .srch{
    border:rgb(25, 6, 110)
  }
  @media only screen and (min-width: 600px){
    .list-group{

    }
  }